.sp-dashboard-card-title {
	color: #c9ab00 !important;
}

.sp-dashboard-page-title {
	color: #ff6a00 !important;
}

.sp-saved-sign-up {
	color: #c9ab00 !important;
}

.saved-programs-card {
	margin-top: 30px;
	max-width: 1030px;
	margin-right: auto;
	margin-left: auto;
}
