.sp-main-title {
	color: #ff6a00 !important;
}

.sp-card-title {
	color: #ff6a00 !important;
	margin-top: 0 !important;
}

.sp-description {
	-webkit-line-clamp: 3 !important;
}

.sp-category {
	background-color: #c9ab00 !important;
	margin-top: 5px;
	margin-bottom: 10px;
}

.sp-button-group {
	margin-top: 15px !important;
}

.sp-filters-title {
	color: #c9ab00 !important;
}

.sp-loading-spinner {
	color: #c9ab00 !important;
}

.sp-loading-spinner::after {
	border: 3px solid #c9ab00;
}
